---
{{ item }}_tower_host: '{{ tower_host }}'
{{ item }}_tower_verify_ssl: '{{ tower_verify_ssl }}'
{{ item }}_tower_username: '{{ tower_username }}'
{{ item }}_tower_password: !vault
|
{{ tower_password_enc }}