---
aws_credential_list: {{ aws_credential_list }}

{{ aws_credential_list }}_access_key_id: !vault
|
{{ access_key_id_enc }}

{{ aws_credential_list }}_secret_access_key: !vault
|
{{ secret_access_key_enc }}