---
send_grid_user: !vault
|
{{ send_grid_user_enc }}

send_grid_sender: !vault
|
{{ send_grid_sender_enc }}

send_grid_password: !vault
|
{{ send_grid_password_enc }}

send_grid_host: {{ send_grid_host }}

send_grid_port: {{ send_grid_port }}

send_grid_email_recipients: '{{ send_grid_email_recipients }}'