---
# Ansible Tower Openshift Configurations
tower_openshift_username: !vault
|
{{ tower_openshift_username_enc }}

tower_openshift_password: !vault
|
{{ tower_openshift_password_enc }}

tower_openshift_master_url: {{ tower_openshift_master_url }}
tower_openshift_login: true
