---
tower_ssh_user: {{ tower_ssh_user }}
tower_ssh_password: ''
tower_ssh_become_password: !vault
|
{{ tower_ssh_become_password_enc }}
tower_ssh_user_password: ''
tower_ssh: !vault
|
{{ tower_ssh_enc }}