---
tower_instance_list: 
  - {{ tower_instance_list }}

{{ tower_instance_list }}_tower_host: ''
{{ tower_instance_list }}_tower_verify_ssl: True
{{ tower_instance_list }}_tower_username: ''
{{ tower_instance_list }}_tower_password: !vault
|
{{ tower_password_enc }}