---
tower_credentials_project_scm_type_url: '{{ cluster_credential_git_repo }}'
tower_github_scm_user: ''
tower_github_scm_password: !vault
|
{{ tower_github_scm_password_enc }}

tower_github_scm: !vault
|
{{ tower_github_scm_enc }}