---
social_auth_github_org_name: {{ social_auth_github_org_name }}
social_auth_github_org_key: !vault
|
{{ social_auth_github_org_key_enc }}

social_auth_github_org_secret: !vault
|
{{ social_auth_github_org_secret_enc }}
  
social_auth_github_org_organization_map: "{{ social_auth_github_org_organization_map }}"
social_auth_github_org_team_map: "{{ social_auth_github_org_team_map }}"